{{- if and $.Values.executor.nodeLifecycleService $.Values.executor.nodeLifecycleService.enabled }}
{{- range $engineIndex, $engineName := $.Values.executor.engines -}}
{{- $executorName := ternary "dremio-executor" (printf "dremio-executor-%s" $engineName) (eq $engineName "default") -}}
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: {{ $executorName }}
spec:
  {{- include "dremio.hpa.executorReplicaCounts" (list $ $engineName) | nindent 2 }}
  scaleTargetRef:
    apiVersion: apps/v1
    kind: StatefulSet
    name: {{ $executorName }}
  metrics:
     {{- include "dremio.hpa.scaleMetrics.defaults" (list $ $engineName) | nindent 4 }}
     {{- include "dremio.hpa.scaleMetrics.userDefined" (list $ $engineName) | nindent 4 }}
  behavior:
    scaleDown:
      stabilizationWindowSeconds: {{ $.Values.executor.nodeLifecycleService.scalingBehavior.stabilizationWindowSeconds | default 90 }}
      policies:
        {{- include "dremio.hpa.behavior.scaleDown.policies.default" (list $ $engineName) | nindent 6 }}
        {{- include "dremio.hpa.behavior.scaleDown.policies.userDefined" (list $ $engineName) | nindent 6 }}
    scaleUp:
      stabilizationWindowSeconds: {{ $.Values.executor.nodeLifecycleService.scalingBehavior.stabilizationWindowSeconds | default 90 }}
      policies:
        {{- include "dremio.hpa.behavior.scaleUp.policies.default" (list $ $engineName) | nindent 6 }}
        {{- include "dremio.hpa.behavior.scaleUp.policies.userDefined" (list $ $engineName) | nindent 6 }}
      selectPolicy: Max
{{ end -}}
{{- end -}}